//-----------------------------------------------------------------------------
// Images  
//-----------------------------------------------------------------------------

$accounts-list-grid-icon: 'product/images/tool-icons/accounts_list_grid.png' !default;
$accounts-edit-icon: 'product/images/accounts_edit_icon.png' !default;
$accounts-edit-icon-white: 'product/images/accounts_edit_icon_white.png' !default;
