//-----------------------------------------------------------------------------
// Colours
//-----------------------------------------------------------------------------


$color-base: #ffffff !default;
$color-baseR: 0 !default;
$color-baseG: 87 !default;
$color-baseB: 53 !default;
$color-baseL: #333333 !default;
$color-label: #1A4057 !default;

$color-bg: #53869D !default;
$color-bg-lightGreen: #BFCEC8 !default;
$main-font-color: #ffffff !default;
$color-menu-bg: #4F869F !default;
$color-border: #173F59 !default;
$color-text-bg: #51869E !default;
$color-list-bg: #333333 !default;